body {
    background: #6d5c6a;
    font-family: Verdana;
    text-align: center;
    color: #ffffff;
}

.photo {
    border: 1pv solid #505050;
    border-radius: 50%;
}

#title, .subtitle, .post_title {
    color: rgb(17, 12, 12)
}

.subtitle, .post_title {
    text-decoration: underline;
}

#title {
    font-size: 40px;
    text-transform: uppercase;
    border: #000 3px solid;
}

a {
    color: hsl(240, 54%, 5%);
    font-weight: 700px;
    text-decoration: none;
}

.post_title {
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}

.post {
    background: #6d5c6a;
    padding: 1%;
    border: 3px solid #000;
    margin: 3%;
}

.post_image {
    margin: auto
    width: 60%;
    margin-top: ;
    line-height: 50%;
    
}

.language_list {
    list-style-type: square;
}

.post_photo {
    border-radius: 10%;
    float: left;
    border-width: 5px;
    border-style: solid;
    width: 33, 33%;
    text-align: left;
    margin: 1%;
}

ul {
    list-style-type: none;
    text-align: left;
}

.principal a {
    color: #ffffff;
    text-decoration: underline;
    font-weight: normal;
}

.principal {
    background-color: #505050;
    height: 40px;
}

.principal li{
    display: inline-block;
    margin: 10px 50px;   
    

